<div class="d-flex align-items-center justify-content-center">
  <h1><%=  @control_value %></h1>

</div>

<% if Current.user %>
    <h1 class="alert alert-success"><%=  Current.user.name %></h1>
<% end %>